<a href="https://colab.research.google.com/github/NIKOLE-U20181B618/AED-20221/blob/main/introduccion_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Datos en Python
1.   int
2.   float
3.   string
4.   bool

In [ ]:
### Imprimiendo un numero entero
print(199)

### Imprimiendo un numero entero y su tipo de dato -> int
print(199, type(199))

### Imprimiendo un numero entero y su tipo de dato -> float
print(200.065, type(200.065))

### Imprimiendo un numero entero y su tipo de dato -> str (string)
print("Hola, Mundo", type("Hola, Mundo"))
### Imprimiendo un numero entero y su tipo de dato -> str (string)
print('c', type('c'))

### Imprimiendo un numero entero y su tipo de dato -> bool
print(True, type(True))

199
199 <class 'int'>
200.065 <class 'float'>
Hola, Mundo <class 'str'>
c <class 'str'>
True <class 'bool'>

# Expresiones

In [58]:
10 + 5 * 2

20

In [ ]:
7 / 3

In [ ]:
7 // 3

In [ ]:
7 % 3

In [59]:
3 ** 3

27

# Asignación múltiple


*   Imprimir más de 1 variable
*   Switch variables

In [ ]:
a = 10
b ="Hola"

# Imprimir más de 1 variable en un solo print
print(a, type(a),b, type(b))

# Swicth de valores entre dos variables
a,b = b, a

# Imprimir más de 1 variable en un solo print
print(a, type(a),b, type(b))

10 <class 'int'> Hola <class 'str'>
Hola <class 'str'> 10 <class 'int'>

# Funciones

In [ ]:
def funcion(a,b,c):
  print(a)
  print(b,c)
  print("FIN")

def sumar(a,b):
  return a+b

In [ ]:
funcion(5, 6, "xd")
print(sumar(5,8))

5
6 xd
FIN
13

# Estructuras de control!

Condicionales

In [52]:
a = 5
if a < 2:
    print("menor que 2")
    print(":)")
elif a < 4:
    print("menor que 4")
    print(":|")
elif a < 6:
    print("menor que 6")
    print(":O")
else:
    print("No esperaba esto")
    print(":(")

print("Salimos!")

menor que 6
:O
Salimos!

# Lists

In [12]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(a, type(a))
print(a[0])
print(a[1])
print(a[2])
n = len(a)
print(n)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] <class 'list'>
1
2
3
10


Operaciones con listas

In [48]:
l1=[1,2,3]
l1.append(6)
l1.append(300)
l1.append(9)
l1.append(100)
print(l1, len(l1))

[1, 2, 3, 6, 300, 9, 100] 7

In [13]:
a.append(20)
print(a)
a.remove(7) #busca el 7
print(a)

del a[4]  #elimina en la posicion
print(a)

a.pop()   #elimina la ultima posicion
print(a)

a.insert(5, 30)  #inserta en la posicion
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]
[1, 2, 3, 4, 5, 6, 8, 9, 10, 20]
[1, 2, 3, 4, 6, 8, 9, 10, 20]
[1, 2, 3, 4, 6, 8, 9, 10]
[1, 2, 3, 4, 6, 30, 8, 9, 10]

Slices

In [17]:
c = [1, 2, 3, 4, 6, 30, 8, 9, 10, 100, 200, 300]
print(c)
print(c[3:8])
print(c[:5])
print(c[4:])
print(c[:])

[1, 2, 3, 4, 6, 30, 8, 9, 10, 100, 200, 300]
[4, 6, 30, 8, 9]
[1, 2, 3, 4, 6]
[6, 30, 8, 9, 10, 100, 200, 300]
[1, 2, 3, 4, 6, 30, 8, 9, 10, 100, 200, 300]

In [18]:
print(c[::1])
print(c[::2])
print(c[::-1])
print(c[::-2])

[1, 2, 3, 4, 6, 30, 8, 9, 10, 100, 200, 300]
[1, 3, 6, 8, 10, 200]
[300, 200, 100, 10, 9, 8, 30, 6, 4, 3, 2, 1]
[300, 100, 9, 30, 4, 2]

# Tuplas

In [41]:
t1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
t2 = (10, 20.3, "Hola", True)
# siguiente dará ERROR
#  t1[2] = 100 
print(t1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [43]:
print(t2[0])
print(t2[1])
print(t2[2])
print(t2[3])
print(t1[-1])
print(t1[-2])
print(t1[-10])

10
20.3
Hola
True
10
9
1

# Sets (conjuntos)

In [45]:
s1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
s2 = {100, 3.1416, "pi", False, None}
print(s1)
print(s2)
# siguiente linea dará ERROR
#print(s1[4])

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{False, None, 3.1416, 100, 'pi'}

In [46]:
s1.add(6)
s1.add(300)
s1.add(9)
s1.add(100)
print(s1, len(s1))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 300} 12

# Diccionarios

In [49]:
d1 = {
    "clave": "valor", 
    "nombre": "Luis Canaval" }
print(d1)

{'clave': 'valor', 'nombre': 'Luis Canaval'}

In [50]:
d1["nombre"]

'Luis Canaval'

In [51]:
d1["pais"] = "Perú"
print(d1)

{'clave': 'valor', 'nombre': 'Luis Canaval', 'pais': 'Perú'}

# For

In [20]:
for i in range(5):
  print(i)

0
1
2
3
4

In [21]:
for i in range(2, 5):
  print(i)

2
3
4

In [24]:
for i in range(4, 100, 30):
  print(i)

4
34
64
94

In [26]:
c = [1,2,3]
for e in c:
  print(e)

1
2
3

In [27]:
for i in range(len(c)):
  print(i, c[i])

0 1
1 2
2 3

In [28]:
c = [1, 2, 3, 4, 6, 30, 8, 9, 10, 100, 200, 300]
print(c[2:8])
for i in range(4, 8):
  print(i, c[i])

[3, 4, 6, 30, 8, 9]
4 6
5 30
6 8
7 9

# Algunos ejercicios

**DIBUJAR UN ROMBO**

In [ ]:
"""
n = 4
      *
    *   *
  *       *
*           *
  *       *
    *   *
      *
"""

def rombus(n):
  print("  "*n, "*") #multiplica el numero de "espacios" x n
  for i in range(1, n):
    print("  "*(n-i), "*", "  "*((i-1)*2), " *")
  for i in range(n-2, 0, -1):
    print("  "*(n-i), "*", "  "*((i-1)*2), " *")
  print("  "*n, "*")

rombus(10)

**ordenar alfabeticamente una lista de caracteres**

In [ ]:
def sortchars(chars): #parametro una lista 
  chars2 = [] #LISTAVACIA
  for ch in chars: 
    chars2.append(ch)
  chars2.sort()  #ordenar alfabeticamente
  return "".join(chars2)

sortchars("habia una vez un barco chiquitito")

manejo de if else elif

In [ ]:
#import pdb

def balanced(text):
  stack = []
  #pdb.set_trace()
  for ch in text:
    if ch in "([{": # aqui in es como un ==
      stack.append(ch)
    else:
      if len(stack) == 0:
        return "NO"
      elif ch == ")" and stack[-1] == "(" or \
       ch == "]" and stack[-1] == "[" or \
       ch == "}" and stack[-1] == "{":
        stack.pop()
      else:
        return "NO"
  return "YES" if len(stack) == 0 else "NO"

print(balanced("{[()]}"))
print(balanced("{[(])}"))
print(balanced("{{[[(())]]}}"))

# Algunos algoritmos

In [53]:
def selectionSort(a):
  n = len(a)
  for i in range(n - 1):
    minIdx = i
    for j in range(i + 1, n):
      if a[j] < a[minIdx]:
        minIdx = j
    if i != minIdx:
      a[i], a[minIdx] = a[minIdx], a[i]

In [63]:
import random

lst = [i % 4 for i in range(8)]
print(lst)
random.shuffle(lst) #lo desordena
print(lst)
selectionSort(lst)
print(lst)

[0, 1, 2, 3, 0, 1, 2, 3]
[2, 3, 3, 0, 0, 1, 2, 1]